<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gov 2 Button</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://api.kl2.web.id/css/bulma.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://api.kl2.web.id/js/httpVueLoader.js"></script>
        <script src="https://api.kl2.web.id/js/axios.min.js"></script>
        <script type="text/javascript">
            const eventBus = new Vue();
        </script>
    </head>
    <body>
        <div id="app">
        <section class="hero is-primary">
            <div></div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-narrow">
                        <div style="width: 200px;"></div>
                    </div>
                    <div class="column">
                        <h1 class="title">Formfield Component</h1>
                        <h2 class="subtitle"></h2>                                
                        <span>&nbsp;</span>
                        <!-- <gov2navbreadcrumb :path-url="pathurl"></gov2navbreadcrumb>          
                        <span>&nbsp;</span> -->
                        <div>
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-right">
                                        <gov2button button-label="Open Form Add!"></gov2button>
                                    </div>
                                </div>
                            </div>
                            <span>&nbsp;</span>
                            <div>
                                <div>
                                    <div class="notification" v-if="isNotif" :class="notifClass">
                                        <button class="delete" @click="isNotif=false"></button>
                                        <p v-text="notifText"></p>
                                    </div>
                                    <gov2session></gov2session>
                                    <b-notification :closable="true" v-if="isLoading">
                                        <b-loading 
                                            :is-full-page="true"
                                            :active.sync="isLoading">
                                        </b-loading>
                                        Loading...
                                    </b-notification>
                                </div>
                            </div>
                            <span>&nbsp;</span>
                            <div>
                                <gov2formfield 
                                    :action="action"
                                    :field-url="fieldurl"
                                    :default-level="defaultLevel">
                                </gov2formfield>  
                            </div>	              
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        <strong>Gov 2.0</strong> by Cyber Gov Labs. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#app',
            components: {
                'gov2button': httpVueLoader('vue/gov2button.vue'),
                'gov2formfield': httpVueLoader('vue/gov2formfield.vue'),
                'gov2navbreadcrumb': httpVueLoader('vue/gov2navbreadcrumb.vue'),
            },
            data () {
                return {
                    "action":"gov2formfield",
                    "fieldurl":"json\/formfield.json",
                    "defaultLevel":1,
                    "isPressed":false,
                    isNotif:false,
                    notifClass: '',
                    notifText: '',
                    isLoading: false
                }
            },
            methods: {
                toggleClick: function(data) {
                    this.isPressed=data;
                },
                openNotif: function(data) {
                    this.isNotif=true;
                    this.notifText=data['notification']="Harap Isi Form dengan Lengkap";
                    this.notifClass=data['class']="is-warning";    
                },
            },
            created: function () {
                eventBus.$on('openNotif', this.openNotif);
                eventBus.$on("toggleClick", this.toggleClick);
            },
        });
    </script>

    </body>
</html>
